@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: #f5f5f5;
}


.titulo h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.form-produto {
    padding: 30px;
    margin-top: 40px;
    width: 70%;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.inputbox_foto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputbox_foto img {
    width: 400px;
    object-fit: contain;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.form-header {
    background: #DA020E;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
}

.inputs {
    padding: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.inputbox {
    display: flex;
    flex-direction: column;
}

.inputbox img {
    width: 80%;
}

label {
    margin-top: 10px;
    font-weight: 500;
}

input[type="text"],
input[type="number"],
select,
input[type="file"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: red;
}

select {
    cursor: pointer;
}

input[type="file"] {
    border: 2px dashed #DA020E;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    color: #DA020E;
    font-weight: 500;
}

input[type="file"]::file-selector-button {
    display: none;
}

.btn-adicionar {
    background: #DA020E;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 30px;
}

.btn-adicionar:hover {
    background: #b00109;
}