@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 50px;
    background-color: #f5f5f5;
}


.titulo {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.titulo h1 {
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titulo h1 i {
    font-size: 28px;
    color: #DA020E;
}

.pesquisa_produtos {
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 30px;
}

.pesquisa_produtos i {
    color: #555;
    position: absolute;
    margin-left: 10px;
}

.pesquisa_produtos input {
    border: 1px solid black;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #333;
    gap: 10px;
    background: #f0f0f0;
    border-radius: 25px;
    padding: 8px 40px;
    transition: 0.3s ease-in-out;
}

.pesquisa_produtos input:focus {
    border: 1px solid red;
}

.produtos_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    margin-top: 50px;
}

.card_produto {
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: all 0.3s ease;
    width: 350px;
}

.card_produto:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

.card_produto .imagem_produto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_produto .imagem_produto img {
    width: 50%;
}

.card_produto .titulo_produto h1 {
    font-size: 20px;
}

.card_produto .operacoes {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.botao {
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    width: 35%;
    color: white;
    transition: 0.3s ease-in-out;
}

#editar {
    background-color: rgb(37, 120, 255);
}

#editar:hover {
    box-shadow: inset 0px 0px 35px 3px rgb(0, 33, 87);
}

#excluir {
    background-color: red;
}

#excluir:hover {
    box-shadow: inset 0px 0px 35px 3px rgb(81, 0, 0);
}